
 <table>
  <thead>
    <th>#Rank</th>
    <th>User</th>
    <th>Score</th>
  </thead>

  <tbody>
    {% for row_index in range(users|count) %}
    <tr>
        {% if users[row_index]['member'] == 'default_user' %}

              <td> <b>  {{ users[row_index]['rank']|tojson|safe }}  </b></td>
      <td> <b>  {{ users[row_index]['member'] }} </b></td>
        <td> <b>  {{ users[row_index]['score'] }}  </b></td>

{% else %}
          <td>   {{ users[row_index]['rank']|tojson|safe }} </td>
      <td>  {{ users[row_index]['member'] }} </td>
        <td>  {{ users[row_index]['score'] }} </td>
{% endif %}

    </tr>
{% endfor %}
  </tbody>
</table>